@charset "UTF-8";
/* CSS Document */
#about {
    background: url(../images/dora.jpg);
		background-size:cover;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 50px 0 50px 50px;
    color: black;
}
#contact {
    background: url(../images/purple_paisley.jpg) 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 50px 0 50px 50px;
    color: black;
}
#footer {
    background: url(../images/about.png) 50% 0 fixed;
    height: 50px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 10px 0 10px 0;
		color:black;
}
#intro {
    background: url(../images/intro.png) 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}
#portfolio {
    background: url(../images/home.jpg) 50% 0 fixed;
		background-size:cover;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 50px 0 50px 50px;
		color:black;
}

#resume {
    background: url(../images/purpleBG.jpg) 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 50px 0 50px 50px;
    color: black;
}

.portfolioImg{
  max-width: 100%;
  max-height: 100%;
}

.nameImg {
  max-width: 100%;
  max-height: 100%;
}

.wellSmall {
	width:275px;
	margin:0 10px 10px 0;
	text-align:center;
	border:solid thin black;
}

.well img{
	padding-bottom:10px;
}



/*to top button*/
.crunchify-top:hover {
	color: #fff !important;
	background-color: #ed702b;
	text-decoration: none;
}

.crunchify-top {
	display: none;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	width: 5.2rem;
	height: 5.2rem;
	line-height: 5.2rem;
	font-size: 1.4rem;
	color:#F90;
	background-color: rgba(180,246,61,0.5);
	text-decoration: none;
	border-radius: 3.2rem;
	text-align: center;
	cursor: pointer;
}
